{deps, [
    {procket, "0.9.3"},
    {erpcgen, "1.1.1"},
    {uuid, "1.7.2", {pkg, uuid_erl}}
    ]}.

{pre_hooks, [
    {compile, "rm -f src/remote_protocol.x src/remote_protocol.hrl"},
    {compile, "bin/mk_remote_protocol.escript"}
    ]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        underspecs
    ]}]}.
